// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42
#define __ets__
#define ICACHE_FLASH
#define F_CPU=80000000L
#define LWIP_OPEN_SRC
#define ARDUINO=10800
#define ARDUINO_ESP8266_NODEMCU
#define ARDUINO_ARCH_ESP8266
#define ARDUINO_BOARD="ESP8266_NODEMCU"
#define ESP8266

